<a href="https://colab.research.google.com/github/NihaRGali/data690_NihaGali/blob/main/assignment_04/in_class_practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 4 In Class Practice 2 - PANDAS

- NIHA REDDY GALI
- 9/23/2021

In [4]:
import pandas as pd

In [40]:
df = pd.read_csv("/content/censex.txt", sep="\t")
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

- Extracing last 10 rows in data set

In [41]:
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

- Finding random sampling

In [14]:
df.sample(6)

                                Source: https://www.genealogybranches.com/censuscosts.html
1870 38,558,371  $3,421,198                                             8.87 cents
1810 7,239,881   $178,445                                               2.46 cents
1990 248,718,301 $2,492,830,000                                             $10.02
1840 17,069,458  $833,371                                               4.88 cents
1940 131,669,275 $67,527,000                                           51.29 cents
1920 105,710,620 $25,117,000                                           23.76 cents

In [16]:
df

                                            Source: https://www.genealogybranches.com/censuscosts.html
Census Year Total Population Census Cost                               Average Cost Per Person
1790        3,929,214        $44,377                                                1.13 cents
1800        5,308,483        $66,109                                                1.24 cents
1810        7,239,881        $178,445                                               2.46 cents
1820        9,633,822        $208,526                                               2.16 cents
1830        12,866,020       $378,545                                               2.94 cents
1840        17,069,458       $833,371                                               4.88 cents
1850        23,191,876       $1,423,351                                             6.14 cents
1860        31,443,321       $1,969,377                                             6.26 cents
1870        38,558,371       $3,421,198                                             8.87 cents
1880        50,155,783       $5,790,678                                            11.54 cents
1890        62,979,766       $11,547,127                                           18.33 cents
1900        76,303,387       $11,854,000                                           15.54 cents
1910        91,972,266       $15,968,000                                           17.07 cents
1920        105,710,620      $25,117,000                                           23.76 cents
1930        122,775,046      $40,156,000                                           32.71 cents
1940        131,669,275      $67,527,000                                           51.29 cents
1950        151,325,798      $91,462,000                                           60.44 cents
1960        179,323,175      $127,934,000                                          71.34 cents
1970        203,302,031      $247,653,000                                                $1.22
1980        226,542,199      $1,078,488,000                                              $4.76
1990        248,718,301      $2,492,830,000                                             $10.02
2000        281,421,906      $4.5 Billion                                               $15.99
2010*       308,745,538      $13 Billion                                                $42.11

In [18]:
df.describe()

       Source: https://www.genealogybranches.com/censuscosts.html
count                                                  24
unique                                                 24
top                                            2.16 cents
freq                                                    1

In [22]:
x = 248718301
print(type(x))

<class 'int'>

In [27]:
y ="798,564,123"

z= y.replace(","," ")

print(z)

798 564 123

# There is a differnce between series and dataframes
# ["Total Population"] return a series whish has a tolist() function
# df[["Total Population"]] return a data from which has no tolist() function

In [42]:
pop_list = df["Total Population"].tolist()
pop_list

['3,929,214',
 '5,308,483',
 '7,239,881',
 '9,633,822',
 '12,866,020',
 '17,069,458',
 '23,191,876',
 '31,443,321',
 '38,558,371',
 '50,155,783',
 '62,979,766',
 '76,303,387',
 '91,972,266',
 '105,710,620',
 '122,775,046',
 '131,669,275',
 '151,325,798',
 '179,323,175',
 '203,302,031',
 '226,542,199',
 '248,718,301',
 '281,421,906',
 '308,745,538']

In [43]:
pop_list2 = [int(pop.replace(",","")) for pop in pop_list]
print(pop_list2)

[3929214, 5308483, 7239881, 9633822, 12866020, 17069458, 23191876, 31443321, 38558371, 50155783, 62979766, 76303387, 91972266, 105710620, 122775046, 131669275, 151325798, 179323175, 203302031, 226542199, 248718301, 281421906, 308745538]

# function to convert a str of numbers separated by commas into an integer

In [38]:
def cleanse_pop(a_string):
    return int(a_string.replace(",",""))

x = cleanse_pop("123,456")

print(x)

123456

In [47]:
df["tot_pop"] = df["Total Population"].apply(cleanse_pop)

df.head()

  Census Year Total Population Census Cost Average Cost Per Person   tot_pop
0        1790        3,929,214     $44,377              1.13 cents   3929214
1        1800        5,308,483     $66,109              1.24 cents   5308483
2        1810        7,239,881    $178,445              2.46 cents   7239881
3        1820        9,633,822    $208,526              2.16 cents   9633822
4        1830       12,866,020    $378,545              2.94 cents  12866020

In [49]:
df.describe(include="all")

       Census Year Total Population  ... Average Cost Per Person       tot_pop
count           23               23  ...                      23  2.300000e+01
unique          23               23  ...                      23           NaN
top           1830      131,669,275  ...              2.16 cents           NaN
freq             1                1  ...                       1           NaN
mean           NaN              NaN  ...                     NaN  1.039211e+08
std            NaN              NaN  ...                     NaN  9.622629e+07
min            NaN              NaN  ...                     NaN  3.929214e+06
25%            NaN              NaN  ...                     NaN  2.013067e+07
50%            NaN              NaN  ...                     NaN  7.630339e+07
75%            NaN              NaN  ...                     NaN  1.653245e+08
max            NaN              NaN  ...                     NaN  3.087455e+08

[11 rows x 5 columns]